body {
  background-color: #F9F4EC;
  color: black;
}

h1 {
font-family: 'Merriweather', serif;
font-size: 40px;
}

.body-text {
  width: 60%;
  margin: auto;
  text-align: justify;
 text-justify: inter-word;
}

p {
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 400px) {

  .body-text {
    width: 80%;
  }

}
