body {
  background-color: #F9F4EC;
  color: black;
}

h1 {
font-family: 'Merriweather', serif;
font-size: 40px;
margin: 0;
}

.body-text {
  width: 90%;
  margin: auto;
  text-align: justify;
 text-justify: inter-word;
 font-family: 'Merriweather', serif;
 line-height: 2;
}



.main-image img  {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

span img  {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

.inline-image {
  margin: 20px 0px 0px 0px;
}

.caption {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
   line-height: 1.8;
}


@media only screen and (max-width: 400px) {



  img  {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
  }

}
