body {
  background-color: #F9F4EC;
  color: black;
}

iframe {
  margin: auto;
  height: 100%;
  width: auto;
}

h1 {
font-family: 'Merriweather', serif;
font-size: 40px;
margin: 0;
line-height: 1.5;
}

 h3 {
  margin: 0px;
  padding: 0px;
}

h2 {
 margin: 0px;
 padding: 0px;
}

.body-text {
  width: 90%;
  margin: auto;
  text-align: justify;
 text-justify: inter-word;
 font-family: 'Merriweather', serif;
 line-height: 2;
}



.main-image img  {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

span img  {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
}

.inline-image {
  margin: 20px 0px 0px 0px;
}

.caption {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 20px;
   line-height: 1.8;
}


.bhajan-button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  text-align: left;
  margin-bottom: 10px;
  grid-column-gap: 40px;
}


.bhajan-button-grid  p {
  background-color: black;

  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
font-size: 12px;
margin: 0px;
}

.bhajan-button-grid a {
  color: white;
  text-decoration: none;

}



.front-screen {
  height:100vh;
}

.poem {
  font-size: 10px;
}


@media only screen and (max-width: 400px) {



  img  {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
  }

}
